
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:4000
SERVER_DOMAIN=localhost

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_SECRET=
JWT_EXPIRES_IN=

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=mystore-dev
DB_URI=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=public

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAIL_HOST="smtp.gmail.com"
MAIL_PORT=465
MAIL_USER=
MAIL_PASSWORD=